<div class="form">
    <form [formGroup]="blogForm">
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <label>Title:</label>
                    </td>
                    <td>
                        <input formControlName="title" type="text" class="form-control">

                        <!-- <span *ngIf="title.invalid && title.touched">Required</span> -->

                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <label>Company:</label>
                    </td>
                    <td>
                        <input formControlName="Company" type="text" class="form-control">
                        <!-- <span *ngIf="content.invalid && content.touched">Minimum 150 characters required</span> -->
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <label>Description:</label>
                    </td>
                    <td>
                        <input formControlName="description" type="text" class="form-control">

                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <label>Vaccancy:</label>
                    </td>
                    <td>
                        <input formControlName="Vaccancy" type="text" class="form-control">
                    </td>
                </tr>
            </table>
        </div>
  



        <button (click)="submit(blogForm)" type="submit">Submit</button>
    </form>

</div>