<div class="form">
    <h1>Apply Here</h1>
    <form>
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <label>Name:</label>
                    </td>
                    <td>
                        <input type="text" placeholder="Name" #name><br><br>
                        <!-- <span *ngIf="title.invalid && title.touched">Required</span> -->

                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <label>Email:</label>
                    </td>
                    <td>
                        <input type="email" placeholder="Email" #email><br><br>
                        <!-- <span *ngIf="content.invalid && content.touched">Minimum 150 characters required</span> -->
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <label>Qualification:</label>
                    </td>
                    <td>
                        <input type="text" placeholder="Qualification">
                        <!-- <span *ngIf="content.invalid && content.touched">Minimum 150 characters required</span> -->
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <label>Experience:</label>
                    </td>
                    <td>
                       <select>
                           <option>Fresher</option>
                           <option>Experience</option>
                       </select>
                        <!-- <span *ngIf="content.invalid && content.touched">Minimum 150 characters required</span> -->
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <label>Resume:</label>
                    </td>
                    <td>
                        <input type="file" >
                        <!-- <span *ngIf="content.invalid && content.touched">Minimum 150 characters required</span> -->
                    </td>
                </tr>
            </table>
        </div>

        <div class="form-group">
            <table>
                <tr>
                    <td></td>
                    <td>
                        <input type="button"  class = "btn"value="Apply" >
                    </td>

                </tr>
            </table>
        </div>






    </form>

</div>